{% extends 'base.html' %}
{% block content %}

    <h1>Welcome to Mountkirk Games</h1>
    <h3>Greetings from your `host` -> {{ hostName }}!</h3>
    <br/>
    <h5> > Connect to one of the following Game Servers< </h5>
    <p>SG: 34.87.175.75:7230</p>
    <p>US: 34.133.167.90:7608</p>
    <p>Have Fun! But not too much, okay!</p>
    <br/>
    <div id="muteYouTubeVideoPlayer"></div>
    <script async src="https://www.youtube.com/iframe_api"></script>
    <script>
    function onYouTubeIframeAPIReady() {
    var player;
    player = new YT.Player('muteYouTubeVideoPlayer', {
        videoId: '9Zsp1ahGgWE', // YouTube Video ID
        width: 560,               // Player width (in px)
        height: 316,              // Player height (in px)
        playerVars: {
        autoplay: 1,        // Auto-play the video on load
        controls: 1,        // Show pause/play buttons in player
        showinfo: 0,        // Hide the video title
        modestbranding: 1,  // Hide the Youtube Logo
        loop: 1,            // Run the video in a loop
        fs: 0,              // Hide the full screen button
        cc_load_policy: 0, // Hide closed captions
        iv_load_policy: 3,  // Hide the Video Annotations
        autohide: 0         // Hide video controls when playing
        },
        events: {
        onReady: function(e) {
            e.target.mute();
        }
        }
    });
    }
    // Written by @labnol 
    </script>
    
{% endblock %}